.img-container {
    overflow: hidden; /* ukrywa wystaj¹ce czêœci obrazka */
}

    .img-container img {
        transition: transform 0.3s ease;
    }

    .img-container:hover img {
        transform: scale(1.05); /* lekkie powiêkszenie */
    }
.box-hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

    .box-hover:hover {
        box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    }
